.head{
  width:100%;
  height:70px;
}
.leftheader{
  float:left;
  width:30%;
  height:70px;
  margin:0;
  overflow: hidden;
}
.icon{
  float:left;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  height:100%;
}
.rightheader{
  float:right;
  width:30%;
  height:70px;
  margin:0;
  overflow: hidden;
}
.map{
  float:right;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  width:120px;
  height:100%;
}
.todo{
  border: 2px solid black;
  background-color: pink;
  height: auto;
  overflow: hidden;
}
.todoHeader{
  color: white;
  margin-left: 10px;
  font-weight: bolder;
  height:auto;
}
.todyIntro{
  width:100%;
  height:300px;
}
.todoleft1{
  float: left;
  width:25%;
  height:250px;
  margin:2%;
}
.todoright1{
  float: left;
  width:65%;
  height: 250px;
  margin:2%;
}
.todoleft2{
  float: left;
  width:65%;
  height:250px;
  margin:2%;
}
.todoright2{
  float: right;
  width:25%;
  height: 250px;
  margin-right:5%;
}
.todoimage{
  display: block;
  width: 100%;
  height: auto;
  border:3px solid purple;
  margin:2%;

}
.fig{
  font-style: italic;
  color:white;
}
.fig2{
  text-align: justify;
  color:white;
  margin:2%;
}
.NewsfeedHeading{
  font-weight: bold;
  font-style: italic;
  margin:0;
}
.NewsfeedText{
  margin-top: 0;
  margin-left: 30px;
}
.tableArea{
  display: inline-block;
  border:3px solid black;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}
.endRow{
  background-color: lightgreen;
  height: 30px;
  border: 2px solid white;
  text-align: center;
  font-weight: bold;
}
.inRow{
  background-color: white;
  height:20px;
  text-align: justify;
}
.contactArea{
  width: auto;
  height: 70px;
}
.contact{
  float:left;
  opacity: 0.8;
  width: 80px;
  height:100%;
  margin-left: 30px;
}
.contactText{
  margin-left:120px;
  padding:25px;
}

.bottom{
  text-align: center;
}
.footer{
  font-size: 12px;
  font-weight: bold;
}
a{
  color: darkslateblue;
}
a:hover{
  color: darkgreen;
}
