.heading{
  text-align: center;
}
.imageblock{
  width:100%;
  height:auto;
  text-align:center;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: hidden;
}
.subblock1{
  float: left;
  width:29%;
  height:auto;
  margin:2%;
}
.subblock2{
  float: left;
  width:29%;
  height: 250px;
  margin: 2% 1% 2% 1%;
  border:4px solid #9BB7D4;
  background-color:#A0DAA9;
  border-radius: 10px;
  text-align: center;
}
.subblock3{
  float: left;
  width: 29%;
  height:auto;
  margin:2%;
}
.image{
  display: inline-block;
  width: 100%;
  height: 250px;
  border:2px solid black;
  border-radius: 10px;
}
.subText{
  margin:10% 9% 10% 9%;
  font-size: 16px;
}
.bottom{
  text-align: center;
}
.footer{
  font-size: 12px;
  font-weight: bold;
}
a{
  color: darkslateblue;
}
a:hover{
  color: darkgreen;
}
