body{
  background-color: lightgray;
  margin:0;
}
ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
}
li{
  display: inline-block;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}
li a:hover{
  background-color: orange;
}

.center{
  border: solid hotpink 2px;
  margin: auto;
  display: flex;
  margin-top: 10px;
  height: 250px;
}
.set{
  position: relative;
  width: 100%;
  height: 300px;
}
img{
  position: absolute;
  left:100px;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
.right{
  position: absolute;
  left: 600px;
  margin-top: 50px;
  width: 360px;
  height: 250px;
}
.list{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.first{
  background-color: hotpink;
  font-family: arial;
  padding-top: 30px;
  margin:0;

}
.second{
  background-color: pink;
  font-family: courier;
  padding-top: 30px;
  margin:0;
}
.third{
  background-color: lightpink;
  font-family: corsiva;
  padding-top: 30px;
  margin:0;
}
.button{
  background-color: orange;
  border-radius:10px;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  margin: 30px 100px;
  cursor: pointer;
}
.bottom{
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bottom a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
