body{
  background: #fff2e6;
}
h1{
  color: #92A8D1;
  text-align: center;
}
.background{
  background: linear-gradient(#F7CAC9, #92A8D1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width:350px;
  height:350px;
  border-radius: 20px;
}
.clock{
  width: 350px;
  height: 350px;
  background-image: url("clock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  position: relative;
}
.minHand{
  position: absolute;
  width:30.5%;
  height:10.5%;
  margin-left:50%;
  margin-top: 44.5%;
  transform: rotate(-90deg);
  transform-origin: center left;;
  animation: minRotate;
  animation-duration: 10s;
}
.hourHand{
  position: absolute;
  width:20%;
  height:10%;
  margin-left: 50%;
  margin-top: 45%;
  transform-origin: center left;
  animation: hourRotate;
  animation-duration: 10s;
}
@keyframes minRotate {
  0%{transform: rotate(-90deg);}
  100%{transform: rotate(270deg);}
}
@keyframes hourRotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(30deg);}
}
